---
import Layout from '../../layouts/Layout.astro';
import Bio from "../../components/bio.jsx";
import Education from "../../components/education.astro";
import WorkExperience from "../../components/work.astro";
import Contact from '../../components/contact.astro';
import Profile from "../../components/profile.astro";
import {educations, profile, works, bio} from "../../lib/params.js";
---

<Layout>
	<div class="font-mono max-w-3xl flex flex-col gap-5 lg:gap-10 py-2 px-5 lg:py-5 mt-5 lg:mt-0">	
		<Profile profile={profile.mn}/>
		<Bio client:load text={bio.mn}/>
		<Education title="Боловсрол" educations={educations.mn}/>
		<WorkExperience title="Ажлын туршлага" works={works.mn}/>
		<Contact title="Холбоо барих"/>
	</div>
	
</Layout>
