---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
	<div class="w-full h-full flex flex-col mt-10 items-center">
        <h1 class="text-2xl text" >How to delete your data</h1>
        <div class="h-[0.5px] my-5 w-full bg-zinc-300"></div>
        <p>If you would like us to delete your data, please email us at <a href="mailto:b.bat3orig@gmail.com">b.bat3orig@gmail.com</a></p>
    </div>
	
</Layout>
