---
import Layout from '../layouts/Layout.astro';
import Bio from "../components/bio.jsx";
import Education from "../components/education.astro";
import WorkExperience from "../components/work.astro";
// import Contact from '../components/contact.astro';
import Profile from "../components/profile.astro";
import {educations, profile, works, bio} from "../lib/params.js";
---

<Layout>
	<div class="relative w-full max-w-3xl">
		<nav class="lg:absolute lg:top-5 lg:right-5 flex flex-row justify-end">
			<div class="flex flex-row items-center justify-between px-2">
				<a class="hover:bg-zinc-300 bg-zinc-200 p-2 left" href="/">English</a>
				<a class="hover:bg-zinc-300 p-2 right" href="/mn">Монгол</a>
			</div>
		</nav>
	</div>
	<div class="font-mono w-screen lg:max-w-3xl flex flex-col gap-5 lg:gap-10 py-2 px-3 mt-2 lg:px-5 lg:py-5">	
		<Profile profile={profile.en}/>
		<Bio client:load text={bio.en}/>
		<Education title="Education" educations={educations.en}/>
		<WorkExperience title="Work experience" works={works.en}/>
		<!-- <Contact title="Contact"/> -->
	</div>
	<!-- <div class="h-[1px] w-screen bg-zinc-300 my-10"></div> -->
	<!-- <div class="flex flex-row justify-center items-center gap-5">
		<a href="https://www.linkedin.com/in/batzorig-bazarragchaa-68b56115a" target="_blank" class="underline text-zinc-600 hover:text-zinc-800 font-light underline-offset-3">Linkedin</a>
		<a href="https://github.com/Bat3orig" target="_blank" class="underline text-zinc-600 hover:text-zinc-800 font-light underline-offset-3">Github</a>
		<a href="https://www.facebook.com/batz0rig" target="_blank" class="underline text-zinc-600 hover:text-zinc-800 font-light underline-offset-3">Facebook</a>
	</div> -->
	
</Layout>

<style>
	.left {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		border-width: 1px;
		border-color: #d4d4d8;
		border-right: 0px;
	}
	.right {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		border-color: #d4d4d8;
		border-left: 0px;
		border-width: 1px;
	}
</style>
