---
import Layout from '../layouts/Layout.astro';
import Bio from "../components/bio.jsx";
import Education from "../components/education.astro";
import WorkExperience from "../components/work.astro";
import Contact from '../components/contact.astro';
import Profile from "../components/profile.astro";
import {educations, profile, works, bio} from "../lib/params.js";
---

<Layout>
	<div class="font-mono w-screen lg:max-w-3xl flex flex-col gap-5 lg:gap-10 py-2 px-5 lg:py-5 mt-5 lg:mt-0">	
		<Profile profile={profile.en}/>
		<Bio client:load text={bio.en}/>
		<Education title="Education" educations={educations.en}/>
		<WorkExperience title="Work experience" works={works.en}/>
		<Contact title="Contact"/>
	</div>
	<!-- <div class="h-[1px] w-screen bg-zinc-300 my-10"></div> -->
	<!-- <div class="flex flex-row justify-center items-center gap-5">
		<a href="https://www.linkedin.com/in/batzorig-bazarragchaa-68b56115a" target="_blank" class="underline text-zinc-600 hover:text-zinc-800 font-light underline-offset-3">Linkedin</a>
		<a href="https://github.com/Bat3orig" target="_blank" class="underline text-zinc-600 hover:text-zinc-800 font-light underline-offset-3">Github</a>
		<a href="https://www.facebook.com/batz0rig" target="_blank" class="underline text-zinc-600 hover:text-zinc-800 font-light underline-offset-3">Facebook</a>
	</div> -->
	
</Layout>
