---
import Layout from '../../layouts/Layout.astro';
---
<Layout>
	<div class="w-full h-full flex flex-col mt-10 items-center">
        <h1 class="text-2xl font-bold">Privacy Policy</h1>
        <div class="h-[0.5px] my-5 w-full bg-zinc-300"></div>
    <div class="w-full max-w-lg">
        <p>This app collects and stores user data such as name, email, and phone number for the purpose of providing personalized services. We do not share this data with third parties.</p>
  <p>Users may request deletion of their data by contacting us at <a href="mailto:b.bat3orig@gmail.com" class="italic font-semibold">b.bat3orig@gmail.com</a>.</p>
  <div class="h-[0.5px] my-5 w-full bg-zinc-300"></div>
  <p>We reserve the right to update this policy. Changes will be posted on this page.</p>
    </div>
    </div>
	
</Layout>
