---
import { Icon } from "astro-icon/components";
const {title} = Astro.props;
---

<div class="flex flex-col gap-2">
    <p class="text-lg" data-aos="slide-right" data-aos-duration="500">{title}</p>
    <div class="border rounded-lg p-5 text-sm text-zinc-600 flex flex-col gap-2" data-aos="fade" data-aos-duration="1200">
        <div class="flex flex-row items-center gap-5">
            <Icon name="mdi:phone" class="text-xl"/>
            <p>88330623</p>
        </div>
        <div class="flex flex-row items-center gap-5">
            <Icon name="mdi:linkedin" class="text-xl"/>
            <a href="https://www.linkedin.com/in/batzorig-bazarragchaa-68b56115a" target="_blank" class="underline text-zinc-600 hover:text-zinc-800 font-light underline-offset-3">Linkedin</a>
        </div>
        
		<div class="flex flex-row items-center gap-5">
            <Icon name="mdi:github" class="text-xl"/>
            <a href="https://github.com/Bat3orig" target="_blank" class="underline text-zinc-600 hover:text-zinc-800 font-light underline-offset-3">Github</a>
        </div>
        <div class="flex flex-row items-center gap-5">
            <Icon name="mdi:facebook" class="text-xl"/>
		<a href="https://www.facebook.com/batz0rig" target="_blank" class="underline text-zinc-600 hover:text-zinc-800 font-light underline-offset-3">Facebook</a>
        </div>  
    </div>
</div>