---
import background from "../assets/background.svg"
import SplitText from "./ui/SplitText"
import StarBorder from "./ui/StarBorder"
---

<div class="font-mono h-full">
    <img class="fixed top-0 left-0 w-screen h-screen -z-50 blur-[100px]" src={background.src} alt="" fetchpriority="high"/>
    <main class="h-full w-full flex items-center justify-center">
		<SplitText client:load text="Hello Batzorig!" className="text-2xl text-center font-mono"
        delay={100}
        animationFrom={{ opacity: 0, transform: 'translate3d(0,50px,0)' }}
        animationTo={{ opacity: 1, transform: 'translate3d(0,0,0)' }}
        easing="easeOutCubic"
        threshold={0.2}
        rootMargin="-50px"
        onLetterAnimationComplete={() => {}}/>
        
  
<StarBorder client:load
  as="button"
  color="red"
  speed="3s"
  onClick={() => console.log("haha")}
>
  Hello
</StarBorder>
	</main>
</div>

<style>
    #container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}
</style>
